/* src/assets/main.css */

/* 1. Impor font di baris paling atas */
@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');

/* 2. Terapkan font itu ke seluruh website */
body {
  font-family: 'Rethink Sans', sans-serif;
}
#nprogress .bar {
  background: #ff0000 !important; /* Ganti kode warna sesuai keinginan */
  height: 3px !important; /* Mengatur ketebalan bar */
}

/* Mengubah warna efek bayangan (glow) di ujung bar */
#nprogress .peg {
  box-shadow: 0 0 10px #ff0000, 0 0 5px #ff0000 !important;
}